@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-mincho);
  --font-mincho: var(--font-mincho);

  --text-5xl--line-height: 1.2;
  --text-6xl--line-height: 1.2;
  --text-7xl--line-height: 1.2;
  --text-8xl--line-height: 1.2;
  --text-9xl--line-height: 1.2;

  --color-pill: hsl(0, 0%, 12.5%);
  --color-summer: #7aa778;
  --color-winter: #dfe4e5;
  --color-water: #c8b2ea;
  --color-spring: #f7d8d6;
  --color-autumn: #da7e81;
  --color-sun: #f9db7d;
  --color-history: hsl(33, 39.9%, 43.7%);

  --animate-menu-close: menu-close 0.4s ease-in-out;
  --animate-menu-open: menu-open 0.4s ease-in-out;

  @keyframes menu-close {
    from {
      width: 50vw;
    }

    to {
      width: 0;
    }
  }

  @keyframes menu-open {
    from {
      width: 0;
    }

    to {
      width: 50vw;
    }
  }

  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-accordion-down: accordion-down 0.2s ease-out;

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }
}

:root {
  --background: hsl(40, 100%, 97.6%);
  --foreground: hsl(0, 0%, 12.5%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(20 14.3% 4.1%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(20 14.3% 4.1%);
  --primary: var(--color-history);
  --primary-foreground: hsl(40, 100%, 97.6%);
  --secondary: hsl(60 4.8% 95.9%);
  --secondary-foreground: hsl(24 9.8% 10%);
  --muted: hsl(60 4.8% 95.9%);
  --muted-foreground: hsl(25 5.3% 44.7%);
  --accent: hsl(60 4.8% 95.9%);
  --accent-foreground: hsl(24 9.8% 10%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(60 9.1% 97.8%);
  --border: hsl(0, 0%, 12.5%);
  --input: hsl(0, 0%, 12.5%);
  --ring: hsl(20 14.3% 4.1%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.6rem;
  --foreground-more-muted: hsl(22, 9%, 82%);
}

.dark {
  --background: hsl(0, 0%, 12.5%);
  --foreground: hsl(40, 21%, 89%);
  --card: hsl(20 14.3% 4.1%);
  --card-foreground: hsl(40, 21%, 89%);
  --popover: hsl(0, 0%, 12.5%);
  --popover-foreground: hsl(40, 21%, 89%);
  --primary: var(--color-history);
  --primary-foreground: hsl(40, 21%, 89%);
  --secondary: hsl(13, 14%, 13%);
  --secondary-foreground: hsl(40, 21%, 89%);
  --muted: hsl(12 6.5% 15.1%);
  --muted-foreground: hsl(24 5.4% 63.9%);
  --accent: hsl(0, 0%, 20%);
  --accent-foreground: hsl(40, 21%, 89%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(40, 21%, 89%);
  --border: hsl(40, 21%, 89%);
  --input: hsl(40, 21%, 89%);
  --ring: hsl(40, 21%, 89%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --foreground-more-muted: hsl(27, 4%, 52%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark: hsl(0, 0%, 12.5%);
  --color-light: hsl(40, 80.5%, 92%);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.cjk {
  word-break: keep-all;
  overflow-wrap: anywhere;
}

[data-sonner-toaster] [data-description] {
  color: var(--color-muted-foreground) !important;
}

ol,
ul {
  list-style-position: inside;
  margin: calc(var(--spacing) * 2) 0 0 0;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

/* Nested lists */
.nestedListItem,
.list-check {
  list-style-type: none;
}

li {
  margin-top: calc(var(--spacing) * 2);

  > ul,
  > ol {
    margin-bottom: calc(var(--spacing) * 2);
    margin-left: calc(var(--spacing) * 6);
  }
}

#map {
  .circle {
    fill: var(--foreground);
  }

  .japan {
    /* fill: hsl(22, 9%, 82%); */
    fill: var(--foreground-more-muted);
    opacity: 0.5;
  }

  .localtext {
    fill: var(--foreground);
  }

  .prefecturetext {
    fill: purple;
    /* fill: var(--color-history); */
  }

  .timeline {
    stroke-dasharray: 2.99 2.99;
    stroke-width: 1px;
    stroke: var(--foreground);
  }

  .fukuoka {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;
    stroke: var(--color-foreground);
    fill: none;

    &.small {
      fill: var(--color-background);
    }
  
    &.big {
      /* fill: var(--color-history); */
      opacity: 0.5;
    }

    &.markerline {
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1px;
      stroke: var(--color-foreground);
    }
  }

  .akizuki {
    /* fill:  hsl(22, 9%, 82%); */
    fill: var(--foreground-more-muted);
  }
}
